*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
  background: #2196f3;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu_link {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.menu_link {
  padding: 30px 20px;
  display: inline-block;
}
.menu_link:hover {
  background: #6bb7f3;
}

.burger-menu {
  display: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  right: 40px;
  z-index: 100;
}
.burger-menu span {
  background: #fff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.burger-menu span:first-child {
  top: 0;
}
.burger-menu span:nth-child(2) {
  top: 6px;
}
.burger-menu span:last-child {
  top: 12px;
}

.burger-menu-close span:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.burger-menu-close span:nth-child(2) {
  opacity: 0;
}
.burger-menu-close span:last-child {
  transform: rotate(-45deg);
  top: 6px;
}
.menu.menu-show {
  right: 0;
}
body.no-scroll {
  overflow: hidden;
}
@media screen and (max-width: 440px) {
  .burger-menu {
    display: block;
  }
  .nav {
    height: 80px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100vh;
    padding-top: 100px;
    z-index: 100;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #2196f3;
    transition: right 0.7s;
  }
}
